body {
    background: url(IMG_7574.png) no-repeat fixed;
    background-size: cover;
    max-height: 100vh;
    max-width: 100vw;
}

* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    grid-auto-rows: minmax(100vh, 100vh);
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100%;
    grid-template-areas: "logo main";
    align-content: stretch;
    justify-content: stretch;
    width: 100%;
    height: 100%;

}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Domine', serif;
    font-size: 5.5vw;
    color: white;
    min-width: 34vw;
    grid-area: logo;
   align-self: stretch;
   

    
   
}


.main {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgba(146, 203, 222, 0.762);
    color: rgb(36, 36, 36);
    min-height: 100vh;
    max-width: 66vw;
    min-width: 66vw;
    grid-area: main;
}

.logo p {
    width: 33vw;
    height: fit-content;
    background: rgba(161, 173, 187, 0.468);
    white-space: nowrap;
    text-align: center;
    overflow-wrap: anywhere;
    min-width: 34vw;
    

    
}

#ski-logo {
    font-size: 6vw;
    text-align: center;
    position: relative;
    top: 10px;
}

.info {
    font-size: 0.9rem;
    padding-top: 50px;
    padding-left: 50px;
    min-height: fit-content;
    word-wrap: normal;
}

.info h2 {
    max-width: 60%;
}

.form {
    
    padding-left: 50px;
    padding-bottom: 50px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(50, 49, 49);
    background: rgba(200, 225, 235, 0.632);
    box-shadow: 0 5px 10px rgba(63, 62, 62, 0.625);
    height: 33vh;
    min-height: 350px;
}

.form p {
    font-size: 1.5rem;
    font-family: 'Chivo', sans-serif;
}

.error {
    color: red;
    position: relative;
    bottom: 15px;
    padding-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: fit-content;
    padding-bottom: 50px;
}

.pair {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 1px;
}


input, label {
    display: block;
    font-family: 'Chivo', sans-serif;
    color: rgb(70, 70, 70);
}

input {
    width: 200px;
    height: 30px;
    font-size: 1.1em;
}

.create-account {
    min-height: 33vh;
    
    padding-top: 50px;
}

.create-account p {
    position: relative;
    left: 50px;
    font-size: 1.1em;
}

.create-account button {
    border: none;
    font-family: 'Kanit', sans-serif;
    width: 200px;
    height: 50px;
    font-size: 1.1rem;
    font-weight: 500;
    background: rgb(9, 132, 227);
    -webkit-box-shadow: -1px 9px 15px -9px #171515; 
    box-shadow: -1px 9px 15px -9px #171515;
    color: white;
    border-radius: 5%;
    position: relative;
    left: 50px;
    top: -10px;
}

input:focus{
    border: rgb(0, 136, 255) solid 2px;
    outline: none;
}

.error-message {
    border: red solid 2px;
}

a {
    text-decoration: none;
    color: darkblue;
}

@media screen and (max-width: 480px)  {
    .grid-container {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: grid;
        grid-auto-rows: minmax(100vh, 100vh);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "logo"
        "main";
        align-content: center;
        width: 100%;
    }

    .logo {
        display: flex;
        align-content: center;
        justify-content: center;
        font-family: 'Domine', serif;
        font-size: 70px;
        color: white;
        position: fixed;
        min-width: 100vw;
        top: -75px;
        grid-area: logo;
        padding-bottom: 10px;
    }

    .main {
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(23, 105, 135);
        color: rgb(240, 240, 240);
        min-height: 80vw;
        top: 14vw;
        left: 0;
        max-width: 100vh;
        min-width: 100vh;
        grid-area: main;
    }
    .logo p {
        position: relative;
        width: 100%;
        height: 80px;
        left: 0%;
        top: 0%;
        background: rgba(86, 151, 230, 0.468);
        white-space:nowrap;
        text-align: center;
        overflow-wrap: anywhere;
        min-width: auto;
        
        
    }

    .form {
    
        padding-left: 10px;
        font-size: 1rem;
        font-weight: bold;
        color: rgb(50, 49, 49);
        background: rgb(158, 208, 227);
        box-shadow: 0 5px 10px rgba(63, 62, 62, 0.625);
        height: 33vh;
        min-height: 300px;
    }

    form {
        min-height: 300px;
    }

    .form p {
        font-size: 1.1em;
        font-family: 'Chivo', sans-serif;
        align-self: center;
        justify-self: center;
    }

    .info, h2 {
        font-size: 0.9rem;
        padding-top: 10px;
        padding-left: 10px;
        min-height: 10vh;
        padding-right: 100px;
    }

    #ski-logo {
        font-size: 70px;
        text-align: center;
        position: relative;
        top: 2px;
    }

    .error {
        padding-top: 0px;
        font-size: 14px;
        word-wrap: break-word;
        width: 100vw;

    }

    .create-account button {
        top: -40px;
    }
}